body {
  font-family: Quicksand;
  margin: 0;
  padding: 0;
  background: #333333;
  background-attachment: fixed;
  background-size: cover;
}

.blue-bg-grad {
  background: #03040b;
  background: linear-gradient(#03040b, #212d68) !important;
}

#main-navigation {
  background: #212d68;
  background: linear-gradient(#212d68, #03040b);
  color: white;
}
#main-navigation ul,
#main-navigation li,
#main-navigation div {
  background: transparent !important;
}

.main-nav-logo-img {
  height: 100px;
  width: auto;
  margin-left: 125px;
}

.header-social {
  margin-left: 120px;
}
.header-social i {
  color: #4db6ad;
  margin-left: 7px;
  font-size: 22px;
  cursor: pointer;
}
.header-social i:hover {
  color: white;
}

.button.hollow.secondary:hover, .button.hollow.secondary:focus {
  border-color: #ffbb17;
  color: white;
}
.button:hover, .button:focus {
  border-color: #e29e00;
  color: white;
  background-color: #e29e00;
}
.button.teal-btn {
  border-color: #4db6ad !important;
  background-color: #4db6ad !important;
  color: white !important;
}
.button.teal-btn:hover, .button.teal-btn:focus {
  border-color: #0d122a !important;
  color: white !important;
  background-color: #0d122a !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand;
}

.display-table {
  display: table !important;
}

.fp-ol {
  height: 600px !important;
  width: 100% !important;
}

.bt-fp-ol {
  width: 100% !important;
}

.va-align {
  display: table-cell;
  vertical-align: middle;
}

.frontpage-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  min-height: 100% !important;
  width: 100% !important;
}

.frontpage-bt-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  min-height: 100% !important;
  width: 100% !important;
  padding: 32px;
  width: 100%;
}

.front-logo {
  width: 25% !important;
  height: auto;
}

/*General */
.intro {
  background: url("/assets/img/30a.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 700px;
  color: white;
  padding: 30px;
  text-align: center;
  background-position: bottom center;
}

/* About */
.about {
  background-color: white;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

/* About */
/* Colors */
.orange {
  color: #f78536;
}

.light-blue-grey {
  color: #dfebed;
}

.grey-bg {
  background-color: #d6d8db;
}

.blue {
  color: #0d122a;
}

.dark-blue {
  color: #212d68 !important;
}

.dark-grey {
  color: #727272;
}

.dark-grey-bg {
  background-color: #727272;
}

.orange-bg {
  background-color: #f78536;
}

.light-blue-grey-bg {
  background-color: #dfebed;
}

.blue-bg {
  background-color: #0d122a;
}

.dark-blue-bg {
  background-color: #212d68 !important;
}

.gold {
  color: #ffbb17;
}

.gold-bg {
  background-color: #ffbb17;
}

.teal {
  color: #4db6ad;
}

.teal-bg {
  background-color: #4db6ad;
}

.teal-lbl {
  background: #4db6ad !important;
}

/*Colors */
/*Team */
.team {
  background-color: white;
  margin: 0px;
  padding: 20px;
}

.team-member {
  text-align: center;
  margin-bottom: 16px;
}
.team-member img {
  margin-bottom: 30px;
}
.team-member h5 {
  color: #4db6ad;
}
.team-member p {
  font-weight: 300;
}

/*Team */
/* Info Section */
.info {
  background-color: #2b4450;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Info Section */
/*Blog */
.blog {
  background-color: white;
  margin: 0px;
  padding: 20px;
}
.blog .label {
  margin-bottom: 5px;
}

.blog-item {
  margin-bottom: 10px;
}
.blog-item img {
  margin-bottom: 10px;
}
.blog-item h5 {
  color: #497285;
}

/*Blog */
/* Subscribe */
.subscribe {
  background-color: #497285;
  color: white;
  min-height: 100px;
  padding: 20px;
  text-align: center;
}

/* Subscribe */
/*Map */
.map {
  background-color: #2b4450;
  color: white;
  min-height: 50px;
  padding: 10px;
  text-align: center;
}

/* Map */
/* Contact */
.contact {
  background-image: url("/assets/img/fourway.jpg");
  background-position: center center;
  min-height: 200px;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Contact */
/*Footer */
.footer {
  background-color: white;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
}

.footer-social i {
  color: #212d68;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
}
.footer-social i:hover {
  color: #4db6ad;
}

.footer-logo {
  margin-top: 20px;
  width: 15% !important;
  height: auto;
}

/*Footer */
#flagvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
}

.top-desktop-nav ul {
  padding-top: 30px;
  padding-left: 30px;
}

.top-desktop-nav li {
  padding: 20px;
}

.top-desktop-nav li a {
  border: transparent 1px solid;
  color: white;
  font-weight: bold;
} .active {
    border: white 1px solid !important; 
  }

.top-desktop-nav li a:hover {
  border: white 1px solid;
  color: #4db6ad;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}
